test1:
    url: git@github.com:GitPack/TestRepo3.git
    local_dir: ./repos/test1
    branch: master
    lock: true

test2:
    url: git@github.com:GitPack/TestRepo2.git
    local_dir: ./repos/test2
    branch: master
    lock: false

test3:
    url: git@github.com:GitPack/TestRepo3.git
    local_dir: ./repos/test3
    branch: master
    lock: false
